:root {
  --main-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-hover: #188ce8;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --filters-bg-color: #f5f4fa;
  --darkgrey-bg-color: #2f303a;
  --header-border: #ececec;
  --team-bg-color: #f5f4fa;
  --project-border: #eeeeee;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-color);
  background-color: var(--primary-white-color);
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  padding: 94px 0;
}

section:nth-child(3) {
  padding-top: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  list-style: none;
}

.link,
.link-current {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation .link,
.link-current,
.contacts-list .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation .link,
.feature-item-title,
.project-title {
  color: inherit;
}

.logo,
.link:hover,
.link:focus,
.header .contacts-link:hover,
.header .contacts-link:focus,
.footer .contacts-link:hover,
.footer .contacts-link:focus,
.link-current {
  color: var(--accent-color);
}

.header .container,
.nav,
.navigation,
.contacts-list,
.filters {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.logo.link {
  display: inline-block;
}

.header .logo.link {
  padding: 24px 0;
  margin-right: 93px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: var(--black-color);
}

.navigation-item .link,
.link-current,
.contacts-item .link {
  display: block;
  padding: 32px 0;
}

.navigation-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.logo-light,
.hero-title,
.btn,
.btn:hover,
.btn:focus,
.filter-item-button:hover,
.filter-item-button:focus,
.address .address-item,
.address .address-item:hover,
.address .address-item:focus {
  color: var(--primary-white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hero {
  background: var(--darkgrey-bg-color);
}
.hero,
.activity-title,
.team {
  text-align: center;
}

.hero-title {
  margin: 0 auto 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background: var(--hero-hover);
}

.features.list {
  display: flex;
  display: wrap;
}

.feature-item {
  width: 270px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-item-text,
.team-text,
.project-text,
.contacts-list .link {
  color: var(--primary-text-color);
}

.feature-item-title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-item-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activity,
.team-list {
  display: inline-flex;
}

.activity-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.activity-image-item:not(:last-child),
.team-item {
  margin-right: 30px;
}
.team {
  background-color: var(--team-bg-color);
}

.team-item {
  max-width: 270px;
  background: var(--primary-white-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item-card {
  padding: 30px 0;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.filters {
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--filters-bg-color);
  border: var(--filters-bg-color);
  color: inherit;
  border-radius: 4px;
  padding: 6px 25px;
}

.current-filter,
.filter-item-button:hover,
.filter-item-button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  background: var(--primary-white-color);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-item-card {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid var(--project-border);
  border-top: none;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer {
  background: var(--darkgrey-bg-color);
  padding: 60px 0;
}

.footer .logo.link {
  margin-bottom: 20px;
}
.address .link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-contacts-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link {
  color: var(--secondary-white-color);
}
