:root {
  --main-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-hover: #188ce8;
  --hero-linear-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  --hero-bg-color: #c4c4c4;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --thirdly-white-color: rgba(255, 255, 255, 0.1);
  --black-color: #000000;
  --filters-bg-color: #f5f4fa;
  --darkgrey-bg-color: #2f303a;
  --header-border: #ececec;
  --team-bg-color: #f5f4fa;
  --social-icons-color: #afb1b8;
  --project-border: #eeeeee;
  --overlay-bg-color: rgba(33, 150, 243, 0.9);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-color);
  background-color: var(--primary-white-color);
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  list-style: none;
}

.link,
.link-current {
  text-decoration: none;
}
.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-current {
  position: relative;
}
.link-current::after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation .link,
.link-current,
.contacts-list .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation .link,
.feature-item-title,
.project-title {
  color: inherit;
}

.logo,
.link:hover,
.link:focus,
.header .contacts-link:hover,
.header .contacts-link:focus,
.footer .contacts-link:hover,
.footer .contacts-link:focus,
.link-current {
  color: var(--accent-color);
}

.header .container,
.nav,
.navigation,
.contacts-list,
.filters {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.logo.link {
  display: inline-block;
}

.header .logo.link {
  padding: 24px 0;
  margin-right: 93px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: var(--black-color);
}

.navigation-item .link,
.link-current,
.contacts-item .link {
  display: block;
  padding: 32px 0;
}

.navigation.list,
.contacts-list {
  gap: 50px;
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
a.contacts-link.link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: currentColor;
}

.logo-light,
.hero-title,
.btn,
.btn:hover,
.btn:focus,
.filter-item-button:hover,
.filter-item-button:focus,
.address .address-item,
.address .address-item:hover,
.address .address-item:focus {
  color: var(--primary-white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hero {
  background-color: var(--hero-bg-color);
  background-image: var(--hero-linear-gradient),
    url('../images/hero-bg-img.jpg');
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 200px 0;
}

.hero,
.activity-title,
.team,
.clients-title {
  text-align: center;
}

.hero-title {
  margin: 0 auto 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--hero-hover);
}

.features.list {
  display: flex;
  display: wrap;
}

.features.list,
.activity.list,
.team-list,
.clients-list,
.projects.list {
  gap: 30px;
}

.feature-item {
  width: 270px;
}
.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--filters-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-item-text,
.team-text,
.project-text,
.contacts-list .link {
  color: var(--primary-text-color);
}

.feature-item-title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-item-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activities {
  padding-top: 0;
}
.activity,
.team-list {
  display: inline-flex;
}

.thumb {
  position: relative;
  width: 370px;
  height: 294px;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team {
  background-color: var(--team-bg-color);
}

.team-item {
  max-width: 270px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-card {
  padding: 30px 0;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.social-links,
.footer .social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links-item,
.footer .social-icons {
  width: 44px;
  height: 44px;
}

.social-links-item .icon,
.clients-link .icon {
  fill: var(--social-icons-color);
}

.team-social-link,
.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--thirdly-white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus,
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.team-social-link:hover .icon,
.team-social-link:focus .icon,
.footer-social-link .icon {
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-icons-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus,
.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.filters {
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--filters-bg-color);
  border: var(--filters-bg-color);
  color: inherit;
  border-radius: 4px;
  padding: 6px 25px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-filter,
.filter-item-button:hover,
.filter-item-button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: 370px;
  height: 405px;
  background: var(--primary-white-color);
}

.project-item-card {
  padding: 20px 24px;
  border: 1px solid var(--project-border);
  border-top: none;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-card-link {
  display: block;
  width: 100%;
  height: 100%;
}
.container-img {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: var(--overlay-bg-color);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-link:hover .overlay-text,
.project-card-link:focus .overlay-text {
  opacity: 1;
  transform: translateY(0%);
}

.project-card-link:hover,
.project-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  background: var(--darkgrey-bg-color);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.container-address {
  margin-right: 70px;
}
.footer .logo.link {
  margin-bottom: 20px;
}
.address .link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-contacts-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link {
  color: var(--secondary-white-color);
}
.socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: traslate 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes closing {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.5;
  }
  75% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0.2;
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
.is-hidden .modal-body {
  animation-name: closing;
  animation-duration: 750ms;
  animation-timing-function: linear;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  font-size: 11px;
  color: var(--black-color);
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-btn:hover .icon-close {
  fill: var(--accent-color);
}
.icon-close,
.close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  cursor: pointer;
}
