@import './utils/variables';
@import './base/common';
@import './utils/mixin';
@import './layout/section';
@import './layout/header';
@import './components/burger-button';
@import './components/burger-menu';
@import './components/logo';
@import './components/navigation';
@import './components/contacts';
@import './layout/hero';
@import './utils/placeholder';
@import './components/button';
@import './layout/features';
@import './layout/activities';
@import './layout/team';
@import './components/social-links';
@import './layout/clients';
@import './layout/footer';
@import './components/address';
@import './components/subscribe-form';
@import './components/btn-close';
@import './utils/closing-animation';
@import './components/modal-form';
@import './layout/modal';
@import './components/checkbox';
@import './components/filters';
@import './layout/projects';





