.activities {
  @include for-size(desktop) {
    display: inline-flex;
    gap: 30px;
  }

  .activities__thumb {
    position: relative;
    width: 370px;
    height: 294px;
  }

  .activities__label {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-primary-white;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
