.section__container {
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1600px;

  @include for-size(mobile) {
    width: 480px;
  }
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}
