.features{  
  &__list{
      display: flex;
      gap: 30px;
    }
  &__item {
      width: 270px;
    }

  &__container {
      display:flex;
      align-items: center;
      justify-content: center;
      width: 270px;
      height: 120px;
      background-color: $color-filters-bg;
      border-radius: 4px;
      margin-bottom: 30px;
    }

  &__title {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}