.header{
    border-bottom: 1px solid $color-header-border;
    & .logo {
      padding: 24px 0;
      margin-right: 93px;
      }
  }
  .header__nav {
    display: flex;
    align-items: center;
    }
  .header__contacts{
    margin-left: auto;
  }
  .header __container{
    display: flex;
    align-items: center;
    }
   
  