.header {
  border-bottom: 1px solid $color-header-border;
  min-height: 60px;
}

.header__container {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;

  @media screen and (min-width: 480px) {
    width: 480px;
    position: relative;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header .logo {
  @media screen and (min-width: 480px) {
    padding: 10px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 26px 0;
    margin-right: 87px;
  }
  @media screen and (min-width: 1200px) {
    padding: 24px 0;
    margin-right: 93px;
  }
}

.header__nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__contacts {
  margin-left: auto;
  @include for-size(mobile-only) {
    display: none;
  }
}
