.hero {
  min-width: 320px;
  background-color: $color-hero-bg;
  background-image: $hero-linear-gradient,
    url('../images/hero-bg-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 118px 0;
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: 480px) {
    min-width: 480px;
    background-image: $hero-linear-gradient,
      url('../images/hero-bg-mobile@1x.jpg');

    @include for-size(retina) {
      background-image: $hero-linear-gradient,
        url('../images/hero-bg-mobile@2x.jpg');
    }
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    background-image: $hero-linear-gradient,
      url('../images/hero-bg-tablet@1x.jpg');
    @include for-size(retina) {
      background-image: $hero-linear-gradient,
        url('../images/hero-bg-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 1190px) {
    width: 1600px;
    padding: 200px 0;
    background-image: $hero-linear-gradient,
      url('../images/hero-bg-desktop@1x.jpg');
    @include for-size(retina) {
      background-image: $hero-linear-gradient,
        url('../images/hero-bg-desktop@2x.jpg');
    }
  }

  @media screen and (min-width: 1600px) {
    max-width: 1600px;
  }

  .hero__title {
    margin: 0 auto 30px;
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-primary-white;

    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
