.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.section--no-padding-top {
  padding-top: 0;

  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    width: 1200px;
  }
}

.section__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1600px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section__title {
  @extend %title;
  &--visually-hidden {
    @extend %visually-hidden;
  }
}

.section--other-background {
  background-color: $color-team-bg;
}
