  .team{
    display: inline-flex;
    gap: 30px;
  }
  .team__item {
    flex-basis: 270px;
    min-width: 270px;
    background: $color-primary-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
 .team__card{
    padding: 30px 0;
    text-align: center;
  }
  .team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .team__text{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $color-primary-text;
    margin-bottom: 16px;
  }
