.checkbox {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $color-primary-text;
    gap: 7px;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__terms {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: $color-accent;
  }

  &__icon {
    fill: $color-primary-white;
    background-color: $color-primary-white;
    border: 2px solid $color-main;
    border-radius: 2px;
    transition: border $transition, background-color $transition,
      outline $transition;

    .visually-hidden:checked ~ & {
      background-color: $color-accent;
      border: none;
    }
  }
}

.btn__submit {
  @extend %btn;
  margin-bottom: 0;
  padding: 10px 50px;

  &:focus,
  &:hover {
    background-color: $color-hero-hover;
  }
}
