@media screen and (min-width: 480px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 786px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $color-primary-text;
    margin-left: auto;
    &__item {
      display: flex;
      align-items: center;
      &__link {
        display: flex;
        align-items: center;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding: 32px 0;
        gap: 10px;
        &:hover,
        &:focus {
          color: $color-accent;
        }
      }
      &__icon {
        fill: currentColor;
      }
    }
  }
}
