.navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 50px;

    &__link,
    &__link--current {
      display: block;
      padding: 32px 0;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;

      &:hover,
      &:focus {
        color: $color-accent;
      }

      &--current {
        position: relative;
        color: $color-accent;

        &::after {
          display: inline-block;
          position: absolute;
          content: '';
          width: 100%;
          height: 4px;
          left: 0;
          bottom: -1px;
          background-color: $color-accent;
          border-radius: 2px;
        }
      }
    }
  }
}
