* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $color-main;
    background-color: $color-primary-white;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color $transition, box-shadow $transition;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
button{
  cursor: pointer;
}
