.burger-button {
  cursor: pointer;
  background: transparent;
  border: none;

  // &[aria-expanded='true'] {
  // }

  &:hover .line__top,
  &:hover .line__bottom {
    transition: $transition750;
    y: 19;
  }

  &:hover .line__top {
    transform-origin: center;
    rotate: 45deg;
    width: 20px;
    x: 10;
  }
  &:hover .line__middle {
    opacity: 0;
  }
  &:hover .line__bottom {
    transform-origin: center;
    rotate: -45deg;
    x: 10;
    width: 20px;
  }
}

.line {
  fill: $color-black;

  .burger-button:hover &,
  .burger-button:focus & {
    fill: $color-accent;
  }
}
