.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-inactive-icon;
  border-radius: 4px;
  fill: $color-inactive-icon;
  transition: border-color $transition, fill $transition;

  &:hover,
  &:focus {
    border-color: $color-accent;
    fill: $color-accent;
  }
}
