.section__title--visually-hidden {
  @extend %visually-hidden;
}
.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  background-color: $color-filters-bg;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-primary-text;
  text-align: left;
}
