.section {
  padding: 60px 0;
}

.section--no-padding-top {
  display: none;
  @include for-size(desktop) {
    padding-top: 0;
  }
}

.section--other-background {
  background-color: $color-team-bg;
}

.section__title {
  @extend %section__title;
  margin-bottom: 30px;
}
